.margin-1{	
	margin: 5.0px;
}
.margin-2{	
	margin: 10.0px;
}
.margin-3{	
	margin: 15.0px;
}
.margin-4{	
	margin: 20.0px;
}
.margin-5{	
	margin: 25.0px;
}

.padding-1{	
	padding: 10.0px;
}
.padding-2{	
	padding: 20.0px;
}
.padding-3{	
	padding: 30.0px;
}
.padding-4{	
	padding: 40.0px;
}

.font-size-1{	
	font-size: 10px;
}
.font-size-2{	
	font-size: 12px;
}
.font-size-3{	
	font-size: 14px;
}
.font-size-4{	
	font-size: 16px;
}
.font-size-5{	
	font-size: 18px;
}

.opacity-1{	
	opacity: 0.1;
}
.opacity-2{	
	opacity: 0.2;
}
.opacity-3{	
	opacity: 0.3;
}
.opacity-4{	
	opacity: 0.4;
}
.opacity-5{	
	opacity: 0.5;
}
.opacity-6{	
	opacity: 0.6;
}
.opacity-7{	
	opacity: 0.7;
}
.opacity-8{	
	opacity: 0.8;
}
.opacity-9{	
	opacity: 0.90000004;
}
.opacity-10{	
	opacity: 1.0;
}

.col-1{	
	width: 8.333333%;
}
.col-2{	
	width: 16.666666%;
}
.col-3{	
	width: 25.0%;
}
.col-4{	
	width: 33.333332%;
}
.col-5{	
	width: 41.666664%;
}
.col-6{	
	width: 50.0%;
}
.col-7{	
	width: 58.333332%;
}
.col-8{	
	width: 66.666664%;
}
.col-9{	
	width: 75.0%;
}
.col-10{	
	width: 83.33333%;
}
.col-11{	
	width: 91.666664%;
}
.col-12{	
	width: 100.0%;
}